@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(71, 81, 103);
  color: white;
  /* font-size: 20px; */
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  margin-bottom: 16px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.navbar a, button {
  padding: 8px 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 2px white;
  transition: 0.2s;
}

.navbar a:hover, button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 4px white;
}

.home {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.home h1 {
  font-size: 70px;
	background-clip: text;
  /* -webkit-background-clip: text; */
	background-image: url('/public/pic_@studio.JPG');
	color: transparent;
}

.notes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  height: 70vh;
  width: 80%;
  margin: 40px auto;
  margin: 24px auto;
  overflow: scroll;
  width: 75%;
  height: 80vh;
}

.notes::-webkit-scrollbar {
  display: none;
}

.notes-page {
  text-align: center;
  margin: 32px auto;
  display: flex;
  justify-content: space-between;
}

.note-page {
  text-align: center;
  margin: 24px auto;
}

.note {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  padding: 24px;
  border-radius: 8px;
  text-align: left;
  transition: 0.25s;
  height: 40vh;
  overflow: scroll;
}

.note::-webkit-scrollbar {
  display: none;
}

.note:hover {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.note h5 {
  margin: 16px 0;
}

.loading {
  height: 50vh;
  width: 50%;
  text-align: center;
  margin: auto;
}

.note-form {
  height: 35vh;
  width: 50%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 24px;
  margin: 32px;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.note-form h1 {
  font-size: 24px;
}

.note-form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note-form form input, .note-form form textarea {
  padding: 8px;
  color: rgba(0, 0, 0, 0.8);
}
